.loader-container {
  display: flex;
  width: 100vw;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  color: #222222;
  margin-left: 150px;
  position: fixed;
  font-weight: 500;
}

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.AllProducts__Container {
  margin-top: 60px;
  width: 100%;
  height: 100vh;
}

.AllProducts__Sortby {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #222222;
  position: fixed;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.AllProducts__Sortby__Text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.AllProducts__Sortby__Text__Options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.AllProducts__Sortby__Text__Options__Button {
  height: 40px;
  width: 120px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #fefefe;
  background-color: #222222;
  border: 2px solid #fefefe;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.AllProducts__Sortby__Text__Title {
  width: 70px;
  font-size: 14px;
  color: #fefefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.AllProducts__Sortby__Select {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AllProducts__Sortby__Select__Button {
  height: 40px;
  width: 160px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  background-color: #fefefe;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AllProducts__Section {
  width: 100%;
  height: 100%;
}

.AllProducts__Categories {
  position: fixed;
  padding-left: 60px;
  width: 250px;
  height: 100%;
  z-index: 1;
  background-color: #fefefe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.AllProducts__Categories__Text__Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 80px;
}

.AllProducts__Categories__Apply {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AllProducts__Categories__Apply__Button {
  height: 35px;
  width: 90px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #fefefe;
  background: var(
    --gradient-1,
    linear-gradient(120deg, #fa871f 13.4%, #ff6e1f 86.6%)
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AllProducts__Products {
  width: 100%;
  overflow-y: auto;
  display: flex;
  position: relative;
  z-index: 0;
}

.AllProducts__Categories__Text__Option {
  display: flex;
  width: 90%;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fefefe;
  margin-top: 5px;
}

.AllProducts__Categories__Text__Option.clicked {
  font-weight: 500;
}

.Category__button {
  height: 16px;
  width: 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  background-color: #fefefe;
  color: #222222;
  border: 2px solid #222222;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.Category__button.clicked {
  color: #fefefe;
  background: #222222;
}

.AllProducts__Categories__Text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 15px;
  margin-top: 20px;
}

.AllProducts__Categories__Option__Button__Text {
  font-size: 14px;
  color: #222222;
  display: flex;
  align-items: center;
}

.AllProducts__Categories__Price__Range {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.AllProducts__Categories__Price__Range__line {
  width: 10px;
  height: 2px;
  background-color: #222222;
}

.AllProducts__Categories__Price__Range__Input {
  padding: auto;
  width: 60px;
  height: 100%;
  display: flex;
  outline: none;
  border: none;
  color: #222222;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #222222;
}

.AllProducts__Categories__Rating__Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.AllProducts__Categories__Rating__StarContainer {
  cursor: pointer;
}

.Toggle__Categories__Container {
  display: none;
}

.AllProducts__Categories__Price__Range__Input:focus {
  border: 1px solid #fa871f;
}

.AllProducts__Categories__Apply__Button:hover,
.AllProducts__Sortby__Text__Options__Button:hover,
.AllProducts__Sortby__Select__Button:hover {
  transform: scale(1.025);
  transition: all 0.2s ease-in-out;
}

.AllProducts__Sortby__Text__Options__Button.selected {
  background-color: #ff6e1f;
  color: #fefefe;
  border: 2px solid #ff6e1f;
}

@media (max-width: 1200px) {
  .AllProducts__Container {
    margin-top: 60px;
  }

  .AllProducts__Sortby {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
  }

  .AllProducts__Sortby__Text__Options__Button {
    height: 30px;
    width: 80px;
    font-size: 12px;
    border: 1.5px solid #fefefe;
    border-radius: 7px;
    margin-right: 10px;
  }

  .AllProducts__Sortby__Text__Title {
    width: 60px;
    font-size: 12px;
    margin-right: 10px;
  }

  .AllProducts__Sortby__Select__Button {
    height: 30px;
    width: 130px;
    font-size: 12px;
    border-radius: 7px;
  }

  .AllProducts__Categories {
    width: 225px;
    padding-left: 60px;
  }

  .AllProducts__Products__Container {
    margin-top: 50px;
    margin-left: 0px;
  }

  .AllProducts__Categories__Text {
    font-size: 12px;
  }

  .AllProducts__Categories__Option__Button {
    height: 14px;
    width: 14px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 7px;
  }

  .AllProducts__Categories__Option__Button__Text {
    font-size: 12px;
    color: #222222;
    display: flex;
    align-items: center;
  }

  .AllProducts__Categories__Apply__Button {
    height: 30px;
    width: 80px;
    font-size: 12px;
    border-radius: 7px;
  }

  .AllProducts__Categories__Price__Range__Input {
    width: 55px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #222222;
  }
}

@media (max-width: 968px) {
  .AllProducts__Container {
    margin-top: 60px;
  }

  .AllProducts__Sortby {
    padding-left: 0px;
    padding-right: 10px;
    height: 40px;
  }

  .AllProducts__Sortby__Text {
    margin-left: 30px;
  }

  .AllProducts__Sortby__Text__Options__Button {
    height: 25px;
    width: 50px;
    font-size: 8px;
    border: 1.5px solid #fefefe;
    border-radius: 5px;
    margin-right: 5px;
  }

  .AllProducts__Sortby__Text__Title {
    width: 40px;
    font-size: 8px;
    margin-right: 5px;
  }

  .AllProducts__Sortby__Select__Button {
    height: 25px;
    width: 85px;
    font-size: 8px;
    border-radius: 5px;
  }

  .AllProducts__Products__Container {
    margin-top: 40px;
    margin-left: 0px;
  }

  .Toggle__Categories__Container {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    margin-top: 45px;
  }

  .Toggle__Categories {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
  }

  .AllProducts__Categories {
    box-shadow: 100px 0 80px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .AllProducts__Container {
    margin-top: 50px;
  }

  .AllProducts__Sortby {
    padding-left: 0px;
    padding-right: 10px;
    height: 40px;
  }
  .AllProducts__Sortby__Text {
    margin-left: 30px;
  }

  .AllProducts__Sortby__Text__Options__Button {
    height: 25px;
    width: 50px;
    font-size: 8px;
    border: 1.5px solid #fefefe;
    border-radius: 5px;
    margin-right: 5px;
  }

  .AllProducts__Sortby__Text__Title {
    width: 40px;
    font-size: 8px;
    margin-right: 5px;
  }

  .AllProducts__Sortby__Select__Button {
    height: 25px;
    width: 85px;
    font-size: 8px;
    border-radius: 5px;
  }

  .AllProducts__Products__Container {
    margin-top: 40px;
    margin-left: 0px;
  }

  .Toggle__Categories__Container {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    margin-top: 45px;
  }

  .Toggle__Categories {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
  }

  .AllProducts__Categories {
    box-shadow: 100px 0 80px rgba(0, 0, 0, 0.1);
  }
}
