.Product__Not__Found {
  width: 1000px;
  height: 1000px;
  margin: 100 auto;
  padding: 80px;
  overflow-y: auto;
  background-color: red;
}

.AllProducts__Products__Container {
  width: 100%;
  height: 100%;
  margin-left: 250px;
  padding: 80px;
  overflow-y: auto;
}

.AllProducts__Products__Items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: 300px;
  width: 99%;
}

.AllProducts__Products__Item {
  margin-top: 20px;
  background-color: #fefefe;
  border-radius: 25px;
  box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.AllProducts__Products__Item__Picture {
  width: 100%;
  height: 50%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  border: none;
  position: relative;
  overflow: hidden;
}

.AllProducts__Products__Item__Text {
  width: 100%;
  height: 50%;
  padding: 10px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.AllProducts__Products__Item__Name {
  font-weight: 500;
  color: #222222;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.AllProducts__Products__Item__Buttom {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AllProducts__Products__Item__Buttom__Text {
  width: 70%;
}

.AllProducts__Products__Item__Sold {
  font-weight: 400;
  color: #908f8f;
}

.AllProducts__Products__Item__Price {
  font-weight: 500;
  color: #222222;
}

.AllProducts__Products__Item__Wishlist {
  width: 40px;
  height: 40px;
  border: 1px solid #fefcfc;
  outline: none;
  cursor: pointer;
  background-color: rgba(217, 217, 217, 0.3);
  stroke-width: 0.5px;
  stroke: var(--fefcfc, #fefcfc);
  backdrop-filter: blur(7.5px);
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefcfc;
  font-size: 18px;
  z-index: 20;
  margin: 10px 0px 0px 10px;
}

.AllProducts__Products__Item__Button__Add {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #222222;
  color: #fefefe;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.AllProducts__Products__Item__Wishlist:hover,
.AllProducts__Products__Item__Button__Add:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1200px) {
  .AllProducts__Products__Container {
    margin-left: 225px;
    margin-top: 20px;
    padding: 60px;
    overflow-y: auto;
  }

  .AllProducts__Products__Items {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 250px;
  }

  .AllProducts__Products__Item {
    font-size: 12px;
    border-radius: 20px;
  }

  .AllProducts__Products__Item__Picture {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .AllProducts__Products__Item__Text {
    font-size: 12px;
  }

  .AllProducts__Products__Item__Wishlist {
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin: 10px 0px 0px 10px;
  }

  .AllProducts__Products__Item__Button__Add {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

@media (max-width: 968px) {
  .AllProducts__Products__Items {
    gap: 20px;
    height: 225px;
  }

  .AllProducts__Products__Container {
    margin-left: 0px;
    padding: 30px;
  }

  .AllProducts__Products__Item {
    font-size: 12px;
    border-radius: 15px;
  }

  .AllProducts__Products__Item__Picture {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .AllProducts__Products__Item__Text {
    font-size: 12px;
    padding: 10px 15px 15px 15px;
  }
}

@media (max-width: 768px) {
  .AllProducts__Products__Container {
    margin-top: 40px;
    margin-left: 0px;
    padding: 15px;
  }

  .AllProducts__Products__Items {
    gap: 7px;
    height: 225px;
  }

  .AllProducts__Products__Item__Text {
    font-size: 10px;
    padding: 7px 10px 10px 10px;
  }
}

@media (max-width: 468px) {
  .AllProducts__Products__Item {
    font-size: 8px;
    border-radius: 10px;
  }

  .AllProducts__Products__Container {
    margin-left: 0px;
    padding: 10px;
  }

  .AllProducts__Products__Container {
    margin-left: 0px;
  }

  .AllProducts__Products__Items {
    gap: 5px;
    height: 175px;
  }

  .AllProducts__Products__Item__Text {
    font-size: 8px;
  }

  .AllProducts__Products__Item__Wishlist {
    width: 20px;
    height: 20px;
    margin: 7px 0px 0px 7px;
    font-size: 10px;
  }

  .AllProducts__Products__Item__Button__Add {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
